/*HeadStyle*/

.avatar{
    width:150px;
    height:150px;
    border-radius: 50%;
    float:left;
    margin:10px;
}
.avatar-top-icon{
    width:32px;
    height:32px;
    position: absolute;
    border-radius: 50%;
    top:10px;
    left:10px;
}
.kraft-logo{
    height: 50px;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26px;
        padding-bottom: 26px;
        line-height: 27px;
    }
}

.panel-login {
    margin-bottom: 22px;
    background-color: transparent;
    margin-top: 15%;
}
.panel-login-rem {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 2px;
    font-size: 12px;
    line-height: 1.6;
    border-radius: 4px;
    user-select: none;
}

.panel-heading-login {
    color: #bababa;
    background-color: transparent;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
}
/*EndHeadStyle*/

/*Body*/
.background-welcome{
    margin-top:-23px;
    background: url('/img/backgrounds/background-welcome.jpg') center no-repeat;
    background-size:cover;
    height: 90vh;
}
.text-welcome{
    padding: 40px 40px 200px 40px;
    width: 600px;
    color:white;
    opacity: 0.6;
    background: black;
}
/*EndBody*/

/*Footer*/
.footer {
    height:10vh; /* .push must be the same height as .footer */
    background: #eeee;
    position: relative;
}
.footer-text {
padding-top: 4vh;
}
/*EndFooter*/

/*Flag icon*/
.flag{
    width: 1.33333333em;
}
/*EndFlag icon*/

/*Others*/
#app{
    min-height: 90vh;
}
.m-t-10{
    margin-top:10px;
}
.m-t-15{
    margin-top:15px;
}
.m-t-20{
    margin-top:20px;
}
.m-b-20{
    margin-bottom:20px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-t-30{
    margin-top:30px;
}
.m-t-50{
    margin-top:30px;
}
.m-t-100{
    margin-top:100px;
}

/*Margin - left*/
.m-l-10{
    margin-left:10px;
}
.m-l-15{
    margin-left:15px;
}
.m-l-20{
    margin-left:20px;
}
.m-l-30{
    margin-left:30px;
}
.m-l-40{
    margin-left:40px;
}
.m-l-50{
    margin-left:50px;
}
.m-l-60{
    margin-left:60px;
}
.m-l-70{
    margin-left:70px;
}
.m-l-80{
    margin-left:80px;
}
.m-l-90{
    margin-left:90px;
}
.m-l-100{
    margin-left:100px;
}
/*End Margin - left*/

/**/
[hidden] {
    display: none !important;
}
a:hover{
    text-decoration: none;
}
/*EndOthers*/


.upload-user-image{
    width: 150px;
    height: 150px;
}

.fa-university, .fa-line-chart, .fa-tasks, .fa-users, .fa-user {
    color: #f78620;
}


/*Bottons-reg*/

.botton-default {
    color: #ffffff;
    background-color: #f78620;
}

.botton {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 15px;
    font-size: 22px;
    line-height: 1.6;
    user-select: none;
    margin: 15px;
    border: transparent;
}

.botton-default:active, .botton-default:hover{
    color: #ffffff;
    background-color: #000000;
}

.botton-primary {
    color: #fff;
    background-color: #f78620;
}



/*New Form*/

.all-form {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px 1px 1px 1px solid #bababa;
}

.all-form, output {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    display: block;
}

